{% extends "base.html" %}
{% block content %}
  <h1>TSOHA</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-warning">Delete</button> <a href="#" class="btn btn-info">Edit</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Deadline</strong> 11.11.2011</li>
    <li><strong>Where</strong> HY</li>
    <li><strong>Status:</strong> <label class="label label-danger">unfinished</label></li>
    <li><strong>Added</strong> 1.8.2016</li>
  </ul>
    <!-- Kuvaus tulee tähän -->
  <p>
    Tietokantaharjoitustyö! Pakko tehä ettei KELA vie opintotukea!
  </p>
{% endblock %}