{% extends "base.html" %}
{% block content %}
  <h1>Tatun TO-DO-LIST</h1>

  <p>
    <a href="#" class="btn btn-success">Add task</a>
  </p>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Task</th>
        <th>Deadline</th>
        <th>Where</th>
        <th>Status</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- To Do List -->
      <tr>
        <td><a href="#">TSOHA</a></td>
        <td>31.8.2016</td>
        <td>HY</td>
        <td><label class="label label-warning">kesken</label></td>
        <td></td>
        <th><a class="btn btn-info btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}